.heading{
    color:#ff3c00;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 1rem;
    margin-top: 5rem;
}
.label{
    text-align: left;
    margin-bottom: 1rem;
    font-weight: bold;
}
.inputContainer{
    text-align: left;
    margin-bottom: 1rem;
}
.input{
    width:30dvw;
    padding:0.25rem;
    background-color: aliceblue;
    border:none
  }
  .input:focus{
    outline: none;
 }
 .button{
    border:none;
    background-color: #ff3c00;
    color: white;
    padding:0.5rem 2rem;
  }
  .buttonContainer{
    margin-top: 1rem;
  }
  .button:hover{
    background-color: #9b2f0e;
  }
  .warning{
    color:red;
    text-align: left;
  }
  .input.incorrect{
    border:2px solid red;
    background-color: #fdd;
  }
  @media screen and (max-width:1000px) {
   .label{
    margin: 1rem auto;
   }
   .inputContainer{
    margin:1rem auto
   }
    .input{
      width:70dvw;
    }
    .container{
      margin:0 10px;
    }
  }