.heading{
    font-size: 32px;
    color:white;
    margin-bottom: 2rem;
    font-weight: bold;
}
.Link{
    color:white;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 1rem;
}
.Link:hover{
    color:black;
}
@media screen and (max-width:1000px) {
    .container{
        padding-right: 10px;
    }
}